// nextflow.config

executor {
    name = 'lsf'
}

process {
    executor = 'lsf'
    
    // Don't specify cpus, queue, or time here - put everything in clusterOptions
    

    withName: fastqc_raw {
        clusterOptions = '-n 8 -q long -W 24:00 -M 8192 -R "select[mem>8192] rusage[mem=8192] span[hosts=1]"'
    }

    withName: process_fastp {
        clusterOptions = '-n 16 -q long -W 24:00 -M 16384 -R "select[mem>16384] rusage[mem=16384] span[hosts=1]"'
    }
    
    
    withName: fastqc {
        clusterOptions = '-n 8 -q long -W 24:00 -M 8192 -R "select[mem>8192] rusage[mem=8192] span[hosts=1]"'
    }
}
