// nextflow.config
executor {
    name = 'lsf'
}

process {
    executor = 'lsf'

    withName: bwaMapping {
        // 30 threads for bwa-mem2 and samtools sort
        clusterOptions = '-n 25 -q long -W 24:00 -M 60000 -R "select[mem>60000] rusage[mem=60000] span[hosts=1]"'
    }
    
    withName: collateSortFixmate {
        // 5 threads for samtools operations
        clusterOptions = '-n 5 -q normal -W 12:00 -M 16384 -R "select[mem>16384] rusage[mem=16384] span[hosts=1]"'
    }
    
    withName: markDuplicates {
        // 5 threads for samtools markdup
        clusterOptions = '-n 5 -q normal -W 12:00 -M 16384 -R "select[mem>16384] rusage[mem=16384] span[hosts=1]"'
    }
}

