// Nextflow Configuration for Breakpoint Detection Pipeline

// Use LSF-style per-process cluster options (template-based)
executor {
    name = 'lsf'
}

process {
    executor = 'lsf'

    // Set clusterOptions per process using LSF-style resource string
    withName: extract_psl_alignments {
        clusterOptions = '-n 4 -q normal -W 12:00 -M 5000 -R "select[mem>5000] rusage[mem=5000] span[hosts=1]"'
    }

    withName: psl_to_alignment_blocks {
        clusterOptions = '-n 4 -q normal -W 04:00 -M 2000 -R "select[mem>2000] rusage[mem=2000] span[hosts=1]"'
    }

    withName: identify_conserved_blocks {
        clusterOptions = '-n 4 -q normal -W 04:00 -M 2000 -R "select[mem>2000] rusage[mem=2000] span[hosts=1]"'
    }

    withName: classify_breakpoints_with_ancestors {
        clusterOptions = '-n 4 -q normal -W 04:00 -M 2000 -R "select[mem>2000] rusage[mem=2000] span[hosts=1]"'
    }

    withName: annotate_breakpoints_with_classification {
        clusterOptions = '-n 2 -q normal -W 04:00 -M 500 -R "select[mem>500] rusage[mem=500] span[hosts=1]"'
    }

    withName: plot_results {
        clusterOptions = '-n 2 -q normal -W 04:00 -M 500 -R "select[mem>500] rusage[mem=500] span[hosts=1]"'
    }

}
