// nextflow.config
executor {
    name = 'lsf'
}

conda {
    enabled = true
    // optional but recommended
    // cacheDir = "$HOME/.nextflow/conda"
}


process {
    executor = 'lsf'
    
    // Don't specify cpus, queue, or time here - put everything in clusterOptions
    
    withName: BCFTOOLS_MPILEUP {
        clusterOptions = '-n 5 -q long -W 20:00 -M 50384 -R "select[mem>50384] rusage[mem=50384] span[hosts=1]"'
    }
    
    withName: BCFTOOLS_CALL {
        clusterOptions = '-n 5 -q long -W 24:00 -M 16384 -R "select[mem>16384] rusage[mem=16384] span[hosts=1]"'
    }
    
    withName: BCFTOOLS_FILTER_MARK {
        clusterOptions = '-n 5 -q long -W 18:00 -M 8192 -R "select[mem>8192] rusage[mem=8192] span[hosts=1]"'
    }
    
    withName: BCFTOOLS_FILTER_PASS {
        clusterOptions = '-n 5 -q long -W 18:00 -M 8192 -R "select[mem>8192] rusage[mem=8192] span[hosts=1]"'
    }
    
    withName: BCFTOOLS_NORMALIZE {
        clusterOptions = '-n 5 -q long -W 18:00 -M 8192 -R "select[mem>8192] rusage[mem=8192] span[hosts=1]"'
    }
    
    withName: PLINK2_SIMPLIFY {
        clusterOptions = '-n 10 -q long -W 24:00 -M 16384 -R "select[mem>16384] rusage[mem=16384] span[hosts=1]"'
    }
    
    withName: COMPRESS_INDEX_FINAL {
        clusterOptions = '-n 5 -q long -W 12:00 -M 6000 -R "select[mem>6000] rusage[mem=6000] span[hosts=1]"'
    }
}
