// nextflow.config
executor {
    name = 'lsf'
}

conda {
    enabled = true
    // optional but recommended
    // cacheDir = "$HOME/.nextflow/conda"
}

process {
    executor = 'lsf'
    
    // Don't specify cpus, queue, or time here - put everything in clusterOptions
    
    withName: BCFTOOLS_MPILEUP {
        clusterOptions = '-n 5 -q long -W 48:00 -M 60000 -R "select[mem>60000] rusage[mem=60000] span[hosts=1]"'
    }
 
    withName: BCFTOOLS_CALL {
        clusterOptions = '-n 5 -q long -W 48:00 -M 40000 -R "select[mem>40000] rusage[mem=40000] span[hosts=1]"'
    }
    
}
